mixin popup(prefix, title, submitButtonText, closeButtonText='Close')
  div(class='popup-container hidden' id=`${prefix}-popup-container`)
    form(class='popup-form')
      label(class=`popup-form-title`)= title

      block

      button(type='submit' class='form-button')= submitButtonText
      button(type='button' class='form-button cancel')= closeButtonText

mixin showPopupButton(prefix, title)
  button(class='show-popup-button' id=`${prefix}-show-popup-button`)= title

mixin bottomNavigation()
  div(class='bottom-navigation')
    block